
.user {
    display: flex;
}

.user__photo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
}

.card {
    width: 400px;
    margin: 0 0 10px 0;
}

.user__info h1 {
    margin: 0;
    text-align: start;
    font-size: 15px;
}

.user__info p {
    text-align: start;
}