#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  height: 400px;
  width: 400px;
}

button:focus, button:focus-visible {
  outline: none !important;
}

.like {
  color: rgb(6, 184, 244);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.like:hover {
  color: rgb(0, 31, 203);
}